name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

jobs:
  simulation:
    name: "Simulation framework"
    runs-on: ubuntu-latest
    container:
      image: foundationdb/build:centos7-20230825040255-3a1d89d918
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      # TODO: use what is included in the image
      - name: Download fdb clients
        run: wget https://github.com/apple/foundationdb/releases/download/7.1.23/foundationdb-clients-7.1.23-1.el7.x86_64.rpm
        working-directory: /tmp

      # TODO: use what is included in the image
      - name: install fdb clients
        run: rpm -i /tmp/foundationdb-clients-7.1.23-1.el7.x86_64.rpm
        working-directory: /tmp

      - name: install jq
        run: yum install -y jq

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - name: Build simulation example
        run: source /opt/rh/devtoolset-11/enable && source /root/.cargo/env && cargo build -p foundationdb-simulation --release --example atomic

      - name: Run atomic simulation example
        run: /opt/foundationdb/old/7.1.23/bin/fdbserver-7.1.23  -r simulation -f foundationdb-simulation/examples/atomic/test_file.toml -b on --trace-format json

      - name: Retrieve severity logs
        if: ${{ failure() }}
        run: "jq 'select( .Severity | tonumber > 30)' *.json"

  compatibility:
    name: "Compat ${{ matrix.os }}/${{ matrix.toolchain }}/${{ matrix.fdb_feature_version }}"

    strategy:
      matrix:
        os: ["ubuntu-latest", "macos-latest"]
        toolchain: ["1.70.0", "stable"]
        fdb_feature_version: ["fdb-7_1", "fdb-7_0", "fdb-6_3", "fdb-6_2", "fdb-6_1"]

    runs-on: ${{ matrix.os }}

    env:
      CARGO_INCREMENTAL: 0
      RUST_BACKTRACE: 1

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup FoundationDB
        uses: foundationdb-rs/foundationdb-actions-install@v2.1.0
        with:
          version: "7.1.37"

      - name: Enable tenant
        run: fdbcli --exec "configure single memory tenant_mode=optional_experimental"

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.toolchain }}

      - name: Build
        run: cargo build --verbose -p foundationdb --no-default-features --features ${{ matrix.fdb_feature_version }}

      - name: Test
        # Examples needs to have uuid enabled
        run: cargo test --verbose -p foundationdb --no-default-features --features ${{ matrix.fdb_feature_version }},uuid


  test:
    name: "Test foundationDB with ${{ matrix.toolchain }}"
    strategy:
      matrix:
        toolchain: ["1.70.0", "stable", "beta", "nightly"]

    runs-on: "ubuntu-latest"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install FoundationDB
        uses: foundationdb-rs/foundationdb-actions-install@v2.1.0
        with:
          version: "7.1.37"

      - name: Enable tenant
        run: fdbcli --exec "configure single memory tenant_mode=optional_experimental"

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: "${{ matrix.toolchain }}"
          components: rustfmt, clippy

      - name: Run all tests
        run: cargo test -p foundationdb --features num-bigint,embedded-fdb-include,tenant-experimental

  lint:
    name: Rustfmt / Clippy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install FoundationDB
        uses: foundationdb-rs/foundationdb-actions-install@v2.1.0
        with:
          version: "7.1.37"

      - name: Enable tenant
        run: fdbcli --exec "configure single memory tenant_mode=optional_experimental"

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: rustfmt, clippy

      - name: Fmt
        run: cargo fmt --all -- --check

      - name: Clippy
        run: cargo clippy

  coverage:
    name: Code coverage
    runs-on: ubuntu-latest

    env:
      CARGO_INCREMENTAL: "0"
      RUST_BACKTRACE: 1
      RUSTFLAGS: "-Zprofile -Ccodegen-units=1 -Cinline-threshold=0 -Clink-dead-code -Coverflow-checks=off -Cpanic=abort -Zpanic_abort_tests"

    steps:
      - uses: actions/checkout@v3

      - name: Install FoundationDB
        uses: foundationdb-rs/foundationdb-actions-install@v2.1.0
        with:
          version: "7.1.37"

      - name: Enable tenant
        run: fdbcli --exec "configure single memory tenant_mode=optional_experimental"

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly

      - name: Build bindingtester
        run: cargo build -p bindingtester --target x86_64-unknown-linux-gnu

      - name: Test
        # doc tests are disabled fow now as they do not compile with -Cpanic=abort
        run: cargo test -p foundationdb --tests --no-fail-fast --target x86_64-unknown-linux-gnu

      - name: Setup bindingtester
        run: scripts/setup_bindingtester.sh target/x86_64-unknown-linux-gnu/debug/bindingtester

      - name: Run bindingtester
        run: scripts/run_bindingtester.sh 50

      - id: coverage
        uses: actions-rs/grcov@v0.1

      - name: Coveralls upload
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ${{ steps.coverage.outputs.report }}

      - name: Codecov upload
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ${{ steps.coverage.outputs.report }}

  audit:
    name: Cargo audit
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install FoundationDB
        uses: foundationdb-rs/foundationdb-actions-install@v2.1.0
        with:
          version: "7.1.37"
      - uses: rustsec/audit-check@v1.4.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}