name: Coverage

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

jobs:
  codecov:
    name: Code coverage
    # We are skipping coverage if the PR is coming from dependabot,
    # mostly because of https://github.com/dependabot/dependabot-core/issues/3253#issuecomment-852541544
    if: github.actor != 'dependabot[bot]'
    runs-on: ubuntu-latest

    env:
      CARGO_INCREMENTAL: "0"

    steps:
      - uses: actions/checkout@v4.2.2

      - name: Install FoundationDB
        uses: foundationdb-rs/foundationdb-actions-install@v2.3.0
        with:
          version: "7.4.3"

      # Setting up a fixed Python version because of https://github.com/foundationdb-rs/foundationdb-rs/issues/226
      - name: Setup fixed Python version
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Enable tenant
        run: fdbcli --exec "configure single memory tenant_mode=optional_experimental"

      - name: Install Rust
        run: rustup update stable

      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov

      - name: Install Rust
        run: rustup update stable

      - name: llvm-cov show-env
        run: cargo llvm-cov show-env --export-prefix

      - name: Build bindingTester
        run: source <(cargo llvm-cov show-env --export-prefix) && cargo build -p bindingtester

      - name: Test main crate
        run: source <(cargo llvm-cov show-env --export-prefix) && cargo test -p foundationdb --tests --no-fail-fast --features=num-bigint,embedded-fdb-include,tenant-experimental,fdb-7_4,trace

      - name: Setup bindingtester
        run: scripts/setup_bindingtester.sh target/debug/bindingtester

      - name: Run bindingtester
        run:  source <(cargo llvm-cov show-env --export-prefix) && scripts/run_bindingtester.sh 50

      - name: Generate code coverage
        run: source <(cargo llvm-cov show-env --export-prefix) && cargo llvm-cov report --lcov --output-path lcov.info

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: lcov.info
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
          verbose: true
